@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  border: 0;
}
a{
  color: inherit;
  text-decoration: none;
}
li{
  list-style-type: none;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
}
header{
  background-color: white;
}
.app__container{
  width: 90%;
  margin: 0 auto;
}
button, svg{
  cursor: pointer;
  transition: 0.2s;
}
::placeholder{
  color: #a9a9a990;
  font-size: .8em;
}
.modals{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  top: 0;
  position: absolute;
}
.modals--invisible{
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.modals__component{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  transition: 0.4s;
}
.modals__component--invisible{
  visibility: hidden;
  width: 0;
  transition: 0.4s;
}

@media screen and (min-width: 992px){
  .products__grid .products__product{
    width: 24.5%;
  }
  .products__product:last-of-type{
    margin-right: auto;
    margin-left: .5em;
  }

  .shoppingBag__container, .search__container{
    width: 25%;
    margin-left: auto;
  }

  .product{
    width: 50%;
  }
  .product__size:hover{
    background-color: #a9a9a9;
  }
  .product__container--window{
    display: flex;
    margin: 1em 3em;
  }
  .product__container{
    width: 50%;
    margin-left: 1em;
  }
  .product__addToBag .addToBag__button{
    position: initial;
    width: 20rem;
    margin-top: 2em;
  }
  .addToBag__button:hover{
    opacity: 80%;
  }
  
}