.products__counter{
  color: #a7a7a7;
  padding-top: 2em;
}
.products{
  background-color: #f9f9f9;
}
.products__grid{
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.products__product{
  width: 49%;
  margin-bottom: 1em;
  position: relative;
  cursor: pointer;
}
.product__discountBadge{
  position: absolute;
  right: 0;
  background-color: #000;
  color: #fff;
  padding: 0 .1rem;
  font-weight: bold;
  font-size: 0.9rem;
}
.product__image{
  width: 100%;
}
.product__name{
  font-size: 0.9rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: .5rem;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}
.product__pricing{
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: -1px;
}
.product__price--old{
  margin-right: .8rem;
  margin-top: -0.5rem;
  font-size: .8rem;
  color: #a7a7a7;
  text-decoration: line-through;
}